<%= form_for team do |f| %> 
  <%= f.label "Team Name*" %> 
  <%= f.text_field :name %><br/>

  <p>Add a player:</p>
  <%= f.fields_for :players, team.players.build do |player| %> 
    <%= player.label "Name*" %>
    <%= player.text_field :name %><br/>

    <%= player.label :height %>
    <%= player.text_field :height %><br/>

    <%= player.label :position %> 
    <%= player.text_field :position %><br/>
  <% end %>

  <%= f.submit %>

<% end %> 
