<div class="container">
  <h3><%= player.name %></h3>

  <% if player.height.present? %> 
    Height: <%= player.height %></br> 
  <% end %> 

  <% if player.position.present? %> 
    Position: <%= player.position %></br> 
  <% end %> 

  <% if player.team.name.present? %> 
    Team: <%= link_to player.team.name, team_path(player.team) %> </br>
  <% end %> 
  
  <%= link_to "Delete", player_path(player), method: :delete, :data => {:confirm => "Are you sure?"} %> 
</div>
<br/>
